@{
    ViewBag.Title = "PVP Worklist Select";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-header">
                        Main PVP Menu
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                @Html.ActionLink("PVP Worklist", "PvpSelect", "PvpWorklist", null, new { @class = "btn btn-dark shadow"})                                
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                @Html.ActionLink("Reviews In Progress", "ReviewsInProgress", "PvpWorklist", null, new { @class = "btn btn-dark shadow" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            string AccessLevel = HttpContext.Current.Session["AccessLevel"].ToString();
            if (AccessLevel == "Manager" || AccessLevel == "Admin")
            {
                @Html.Partial("_managersMenu")
            }
        }
    </div>
</div>








