<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="development" connectionString="Data Source = smg-sql01; Initial Catalog = VBC_CSS_Athena; Persist Security Info=True;User ID = AppUser; Password=SoMm1t!@" />
    <add name="staging" connectionString="Data Source = smg-sql01; Initial Catalog = HCC_CodingReview; Persist Security Info=True;User ID = AppUser; Password=SoMm1t!@" />
    <add name="release" connectionString="Data Source = smg-sql01; Initial Catalog = VBC_CSS_Athena; Persist Security Info=True;User ID = AppUser; Password=SoMm1t!@" />
	<add name="pvp-staging" connectionString="Data Source = smg-sql01; Initial Catalog = VBC_PVP_Athena; Persist Security Info=True;User ID =  AppUser; Password=SoMm1t!@" />
	<add name="pvp-live" connectionString="Data Source = smg-sql01; Initial Catalog = VBC_PVP_Athena; Persist Security Info=True;User ID =  AppUser; Password=SoMm1t!@" />
	<add name ="pvp-development" connectionString="Data Source = smg-sql01; Initial Catalog = VBC_PVP_Athena; Persist Security Info=True;User ID =  AppUser; Password=SoMm1t!@" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>